@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand-blue: #0060A1;
  --color-interaction-blue: #004B7E;
  --color-disabled-blue: #DAE8F1;
  --color-alert-red: #B20909;
  --color-accent-green: #00611F;
  --color-primary-background: #ffffff;
  --color-secondary-background: #F7F7F7;
  --color-primary-font: #222222;
  --color-secondary-font: #373737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-primary-background);
  color: var(--color-primary-font);
}
